@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Play', sans-serif;
    position: relative;
}
button:hover {
  cursor:hand;
}

.logo {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
}

.product_display {
	margin: 0;
	padding: 0;
	align-items: center;
}

.product_display img{
    height: 100%;
}


@media (min-width: 1100px) {
	.product_display img{
   	 	position: relative;
    	top: 6rem;
		width: 53%;
	}
	word {
		position: relative;
		top:6rem;
	}
}

@media (max-width: 485px) {
	.product_display img{
   	 	 width: 100%;
	}

	.feature_img {
		width: 100%;
	}
}

.backgroundtext {
    font-size: 4rem;
    text-shadow: 0.07rem 0.07rem black;
    letter-spacing: 0.2rem;
    color: white;
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
}
.backgroundtext:hover {
  font-size: 4.5rem;

}

.features {
	height: 100%;
	margin: 0;
}

.feature_img {
	z-index: -1 !important;
	width: 80%;
	height: 50%;
  border-radius: 1rem;


}
.ban-btn {
  background-color: rgba(0,0,0,0);
  border: 0.2rem solid white;
  color: white;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Indie Flower', cursive;
  border-radius: 1rem;
}
.ban-btn1 {
  background-color:rgb(231, 169, 96);
  border: 0.2rem solid rgb(231, 169, 96);

  color: white;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Indie Flower', cursive;
  border-radius: 1rem;
}

.navbar-offset {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.title {
    padding-top: 6rem;
}

.secondtitle {
    letter-spacing: 0.3rem;
    font-weight: bold;
}

#cta {
    z-index: -1;
}

.topic {
  font-family: 'cwTeXYen', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
    padding-top: 1rem;

}

.content {
  font-family: 'cwTeXYen', sans-serif;
  font-size: 1.5rem;
  z-index: -1!important;
    padding-bottom: 1.5rem;

}



.nav {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

@keyframes fly {
  0%{}

}
#banner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../image/a1.jpg");
    opacity: 0.9;
    background-position: center;
    text-align: center;
}

#contact {
    z-index: -1;
}

#navbar {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 100;
}

#subscribe {
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

#banner-fg {
    height: 85%;
	padding-top: 15rem;
}

#section1 {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    border: 0.15rem solid lightgray;
}

#highlight {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

button:hover {
    background-color: rgb(226, 118, 99)!important;
    color: white;
    border: 0;
}

.icon {
    position: relative;
}

.icon:hover {
    animation-iteration-count: infinite;
    animation-name: emphsize;
    animation-duration: 0.8s;
}

@keyframes emphsize {
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 15px;
    }
    25% {
        bottom: 0px;
    }
    50% {
        bottom: 10px;
    }
    70% {
        bottom: 0px;
    }
    85% {
        bottom: 5px;
    }
    100% {
        bottom: 0px;
    }
}

.labtalk {
    color: white;
    font-size: 3rem;
    padding-top: 8rem;
    padding-left: 2rem;
}

.contact {
    font-size: 2rem;
    letter-spacing: 0;

    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
}
.contact button {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
#cta {
    height: 100%;
    width: 100%;
    background-image: url("../image/mailbox0.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0rem;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-family: 'Play', sans-serif;
	z-index: -1;
	text-align: center;
}

#email {
    font-family: 'Play', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
}

#message {
    font-family: 'Play', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-size: 1.1rem;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 0.5rem;
}

#fb {
    width: 50%;
}

.img {
    border-radius: 50%;
    position: relative;
    opacity: 0.9;
}

.img:hover {
    animation-iteration-count: infinite;
    animation-name: example!important;
    animation-duration: 0.8s;
}

@keyframes example {
    0% {
        bottom: 0px;
    }
    25% {
        bottom: 15px;
    }
    25% {
        bottom: 0px;
    }
    50% {
        bottom: 10px;
    }
    70% {
        bottom: 0px;
    }
    85% {
        bottom: 5px;
    }
    100% {
        bottom: 0px;
    }
}


#arrow {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

#arrow a span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-left: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    border-radius: 0.4rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

#arrow a {
    position: absolute;
    bottom: 2rem;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

#arrow a span:hover {
    border-color: rgb(172, 167, 172);
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.modal {
    border-radius: 1rem;
}

.modal-body {
    font-size: 1rem;
    font-family: 'Play', sans-serif;
}

.modal-header {
    background-color: orange;
    opacity: 0.9;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.cta-content {
  font-family: 'cwTeXYen', sans-serif;
  style="letter-spacing: 0.2rem;
  font-size: 1rem;
}
.cta-btn {
  font-size: 1rem;
}


@media (max-width: 575px) {
    #navbar {
        background-color: rgba(0, 0, 0, 1);
        position: relative!important;
    }
    #banner-fg {
        height: 75%;
    }
    .navbar-offset {
        padding-bottom: 1.5rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
    .content {
        padding-bottom: 0.5rem;
        font-size: 1rem;
    }
    .topic {
        font-size: 1.5rem;
        letter-spacing: 0;
        padding-top: 0.5rem;
    }
    .backgroundtext {
        font-size: 2.5rem;
        animation-duration: 0s;
        ;
    }
    .ban-btn1 {
      margin-bottom: 1rem!important;
    }
    .title {
        padding-top: 5rem;
    }
    .q{
      font-size: 2rem;
    }
    .secondtitle {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }
    footer {
        font-size: 0.2rem;
        letter-spacing: 0.2rem;
    }
    .ban-btn {
      font-size: 1.8rem;
    }
    .contact {
      font-size: 1.2rem;
    }
    .contact button{
      font-size: 1.5rem;
      font-family: 'Play', sans-serif;
      font-weight: bolder;
    }
    #fb a{
      margin-left: 1rem;
    }
    .labtalk{
      padding-top: 2rem;
    }
    .cta-btn {
      font-size: 0.8rem!important;
    }
}
